<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.j0n4than.ex.community.mappers.BuildingMapper">
    <insert id="insertBatch">
        INSERT INTO `con_building` (`name`, `villageid`, `period`, `lift`)
        VALUES
        <foreach collection="records" item="record" index="index" open="" close="" separator=",">
            (#{record.name}, #{record.villageId}, #{record.period}, #{record.lift})
        </foreach>
    </insert>
    <update id="updateOne">
        UPDATE `con_building`
        SET `name`      = #{name},
            `villageid` = #{villageId},
            `period`    = #{period},
            `lift`      = #{lift}
        WHERE id = #{id}
    </update>

    <select id="selectByName" resultType="cn.j0n4than.ex.community.pojo.vo.BuildingVo">
        SELECT `b`.`id` as `id`, `b`.`name` as `name`, `period`, `lift`, `villageid` as villageId, `v`.`name` as villageName, `property`
        FROM `con_building` as `b`
        LEFT JOIN `con_village` as `v` ON `b`.`villageid` = `v`.`id`
        <where>
            <if test="name != null and name != ''">
                `b`.`name` LIKE '%${name}%'
            </if>
        </where>
    </select>
    <select id="selectById" resultType="cn.j0n4than.ex.community.pojo.entities.Building">
        SELECT `id`, `name`, `villageid` as `villageId`, `period`, `lift`
        FROM `con_building`
        WHERE `id` = #{id}
        LIMIT 1
    </select>

    <delete id="deleteByIds">
        DELETE
        FROM `con_building`
        WHERE `id` IN
        <foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
</mapper>
