<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.j0n4than.ex.community.mappers.HouseMapper">
    <insert id="insertBatch">
        INSERT INTO `con_house` (
        `building_id`,
        `house_no`,
        `name`,
        `area`,
        `layer`,
        `toward`,
        `type`,
        `usage`,
        `fitment`,
        `person`,
        `per_phone`
        )
        VALUES
        <foreach collection="records" item="record" index="index" separator=",">
            (
            #{record.buildingId},
            #{record.houseNo},
            #{record.name},
            #{record.area},
            #{record.layer},
            #{record.toward},
            #{record.type},
            #{record.usage},
            #{record.fitment},
            #{record.person},
            #{record.perPhone}
            )
        </foreach>
    </insert>
    <update id="updateOne">
        UPDATE `con_house`
        SET `building_id` = #{buildingId},
            `house_no`    = #{houseNo},
            `name`        = #{name},
            `area`        = #{area},
            `layer`       = #{layer},
            `toward`      = #{toward},
            `type`        = #{type},
            `usage`       = #{usage},
            `fitment`     = #{fitment},
            `person`      = #{person},
            `per_phone`   = #{perPhone}
        WHERE id = #{id}
    </update>

    <select id="select" resultType="cn.j0n4than.ex.community.pojo.vo.HouseVo">
        SELECT `h`.*,
        `b`.`id` AS `building_id`,
        `b`.`name` AS `building_name`,
        `v`.`id` AS `village_id`,
        `v`.`name` AS `village_name`
        FROM `con_house` AS `h`
        LEFT JOIN `con_building` AS `b` ON `h`.`building_id` = `b`.`id`
        LEFT JOIN `con_village` AS `v` ON `b`.`village_id` = `v`.id
        <where>
            <if test="name != null and name != ''">
                `h`.`name` LIKE '%${name}%'
            </if>
        </where>
    </select>
    <select id="selectById" resultType="cn.j0n4than.ex.community.pojo.vo.HouseVo">
        SELECT `h`.*,
        `b`.`id` AS `building_id`,
        `b`.`name` AS `building_name`,
        `v`.`id` AS `village_id`,
        `v`.`name` AS `village_name`
        FROM `con_house` AS `h`
        LEFT JOIN `con_building` AS `b` ON `h`.`building_id` = `b`.`id`
        LEFT JOIN `con_village` AS `v` ON `b`.`village_id` = `v`.id
        WHERE `h`.`id` = #{id} LIMIT 1
    </select>

    <delete id="deleteByIds">
        DELETE
        FROM `con_house`
        WHERE `id` IN
        <foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
</mapper>
