<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.j0n4than.ex.community.mappers.RoleMapper">
    <insert id="insertBatch">
        INSERT INTO `con_role` (`name`, `description`, `status`)
        VALUES
        <foreach collection="records" item="record" index="index" open="(" close=")" separator=",">
            #{record.name}, #{record.description}, #{record.status}
        </foreach>
    </insert>
    <insert id="insertRoleUser">
        INSERT INTO `con_role_user` (`uid`, `rid`, `created`) VALUES
        <foreach collection="records" item="record" index="index" separator=",">
            (#{record.uid}, #{record.rid}, NOW())
        </foreach>
    </insert>
    <insert id="insertRoleMenu">
        INSERT INTO `con_role_menu` (`mid`, `rid`, created) VALUES
        <foreach collection="records" item="record" index="index" separator=",">
            (#{record.mid}, #{record.rid}, NOW())
        </foreach>
    </insert>

    <update id="updateOne">
        UPDATE `con_role`
        SET `name`        = #{name},
            `description` = #{description},
            `status`      = #{status}
        WHERE id = #{id}
    </update>
    <update id="switchStatus">
        UPDATE `con_role`
        SET `status` = !`status`
        WHERE id = #{id}
    </update>

    <select id="select" resultType="cn.j0n4than.ex.community.pojo.entities.Role">
        SELECT * FROM `con_role`
        <where>
            <if test="name != null and name != ''">
                `h`.`name` LIKE '%${name}%'
            </if>
        </where>
    </select>
    <select id="selectById" resultType="cn.j0n4than.ex.community.pojo.entities.Role">
        SELECT *
        FROM `con_role`
        WHERE `id` = #{id}
        LIMIT 1
    </select>
    <select id="selectByUserId" resultType="cn.j0n4than.ex.community.pojo.entities.Role">
        SELECT *
        FROM `con_role`
        WHERE id IN (SELECT `rid` FROM `con_role_user` WHERE `uid` = #{id})
    </select>

    <delete id="deleteByIds">
        DELETE
        FROM `con_role`
        WHERE `id` IN
        <foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
    <delete id="deleteRoleUserByUserId">
        DELETE
        FROM `con_role_user`
        WHERE uid = #{id}
    </delete>

    <delete id="deleteRoleMenuByRoleId">
        DELETE
        FROM `con_role_menu`
        WHERE `rid` = #{id}
    </delete>
    <delete id="deleteRoleUserByRoleId">
        DELETE
        FROM `con_role_user`
        WHERE `rid` = #{id}
    </delete>
    <delete id="deleteRoleResourceByRoleId">
        DELETE
        FROM `con_role_resource`
        WHERE `rid` = #{id}
    </delete>
    <delete id="deleteRoleMenuByMenuId">
        DELETE
        FROM `con_role_menu`
        WHERE `mid` = #{id}
    </delete>

</mapper>
