<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.j0n4than.ex.community.mappers.UserMapper">

    <select id="selectByUsername" resultType="cn.j0n4than.ex.community.pojo.entities.User">
        SELECT *
        FROM `con_users`
        WHERE username = #{username}
        LIMIT 1;
    </select>
</mapper>
