<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>楼栋管理</title>
    <link href="../../component/pear/css/pear.css" rel="stylesheet"/>
</head>
<body class="pear-container">
<div class="layui-card">

</div>
<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <div class="layui-form-item layui-inline">
                    <label class="layui-form-label">楼栋名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="name" placeholder="" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item layui-inline">
                    <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="village-query">
                        <i class="layui-icon layui-icon-search"></i>
                        查询
                    </button>
                    <button type="reset" class="pear-btn pear-btn-md">
                        <i class="layui-icon layui-icon-refresh"></i>
                        重置
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="layui-card">
    <div class="layui-card-body">
        <table id="village_table" lay-filter="village_table"></table>
    </div>
</div>

<script type="text/html" id="role-toolbar">
    <button class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
        <i class="layui-icon layui-icon-add-1"></i>
        新增
    </button>
    <button class="pear-btn pear-btn-danger pear-btn-md" lay-event="batchRemove">
        <i class="layui-icon layui-icon-delete"></i>
        删除
    </button>
</script>

<script type="text/html" id="role-bar">
    <button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>
    </button>
    <button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove"><i class="layui-icon layui-icon-delete"></i>
    </button>
</script>

<script type="text/html" id="goods-enable">

    <input type="checkbox" name="enable" value="{{d.id}}" lay-skin="switch" lay-text="上架|下架"
           lay-filter="goods-enable" {{ d.status== 1 ? 'checked' : '' }}>
</script>

<script src="../../component/layui/layui.js"></script>
<script src="../../component/pear/pear.js"></script>

<script src="../../admin/utils.js"></script>
<script>

    layui.use(['table', 'form', 'jquery', 'upload'], function () {
        let table = layui.table;
        let form = layui.form;
        let $ = layui.jquery;

        let MODULE_PATH = "./village/";

        let cols = [
            [
                {type: 'checkbox'},
                {title: 'ID', field: 'id', align: 'center', width: 100},
                {title: '楼栋名称', field: 'name', align: 'center', width: 100},
                {title: '建筑年份', field: 'period', align: 'center'},
                {title: '所属小区', field: 'villageName', align: 'center'},
                {
                    title: '电梯', field: 'lift', align: 'center',
                    templet: function (row) {

                        if (row.lift) {
                            return `<span class="layui-badge layui-bg-green">有</span>`;
                        }
                        
                        return `<span class="layui-badge">无</span>`;
                    }
                },
                {title: '物业名称', field: 'property', align: 'center'},
                {title: '操作', toolbar: '#role-bar', align: 'center', width: 195}
            ]
        ]

        table.render({
            elem: '#village_table',
            url: '/api/building',
            request: {
                pageName: 'page',
                limitName: 'size'
            },
            page: true,
            cols: cols,
            skin: 'line',
            toolbar: '#role-toolbar',
            headers: {
                Authorization: localStorage.getItem("token")
            },
            defaultToolbar: [
                {
                    layEvent: 'refresh',
                    icon: 'layui-icon-refresh',
                }, 'filter', 'print', 'exports'
            ],
            parseData: (res) => {
                console.log(res)
                if (res.message === "OK") {
                    return {
                        "code": 0,
                        "msg": res.message,
                        "count": res.result.total,
                        "data": res.result.records
                    }
                }
                return {
                    "msg": res.message,
                }
            }
        });

        table.on('tool(village_table)', function (obj) {
            if (obj.event === 'remove') {
                window.remove(obj);
            } else if (obj.event === 'edit') {
                window.edit(obj);
            } else if (obj.event === 'power') {
                window.power(obj);
            }
        });

        table.on('toolbar(village_table)', function (obj) {
            if (obj.event === 'add') {
                window.add();
            } else if (obj.event === 'refresh') {
                window.refresh();
            } else if (obj.event === 'batchRemove') {
                window.batchRemove(obj);
            }
        });

        form.on('submit(village-query)', function (data) {
            table.reload('village_table', {where: data.field})
            return false;
        });

        // unused?
        form.on('switch(goods-enable)', function (obj) {
            var checked = obj.elem.checked;
            let status = 2;

            if (checked == true) {
                status = 1;
            }

            $.ajax({
                url: 'http://www.j236.com/admin/goods/updateStatus',
                data: {
                    "goodsId": this.value,
                    "status": status
                },
                type: 'post',
                success: function (result) {
                    layer.alert("操作成功!");
                    form.render();
                }
            })

        });

        window.add = function () {
            layer.open({
                type: 2,
                title: '新增',
                shade: 0.1,
                maxmin: true,
                area: ['800px', '500px'],
                content: MODULE_PATH + 'add.html'
            });
        }

        window.edit = function (obj) {
            layer.open({
                type: 2,
                title: '修改',
                shade: 0.1,
                area: ['800px', '500px'],
                content: MODULE_PATH + 'edit.html?id=' + obj.data.id
            });
        }

        window.remove = function (obj) {
            layer.confirm('确定要删除该楼栋', {icon: 3, title: '提示'}, function (index) {
                layer.close(index);
                let loading = layer.load();

                requestWithToken('/api/building', 'delete', true, {ids: [obj.data['id']]}, (response) => {
                    layer.msg(response.message, {icon: 1, time: 1000}, function () {
                        obj.del();//前端的假删除
                    });
                }, result => {
                    layer.msg(result.responseJSON.message, {icon: 2, time: 1000});
                }, () => {
                    layer.close(loading);
                })
            });
        }

        window.batchRemove = function (obj) {
            let data = table.checkStatus(obj.config.id).data;
            if (data.length === 0) {
                layer.msg("未选中数据", {icon: 3, time: 1000});
                return false;
            }
            let ids = "";
            for (let i = 0; i < data.length; i++) {
                ids += data[i].id + ",";
            }

            //去除最后一个逗号
            ids = ids.substr(0, ids.length - 1);

            layer.confirm('确定要删除这些楼栋', {icon: 3, title: '提示'}, function (index) {
                layer.close(index);
                let loading = layer.load();
                requestWithToken('/api/building', 'delete', true, {ids: ids.split(',')}, (response) => {
                    layer.msg(response.message, {icon: 1, time: 1000}, function () {
                        table.reload('village_table');
                    });
                }, result => {
                    layer.msg(result.responseJSON.message, {icon: 2, time: 1000});
                }, () => {
                    layer.close(loading);
                })
            });
        }

        window.refresh = function () {
            table.reload('village_table');
        }
        window.exportVillage = function () {
            location = "http://manage.community.com/community/village/export?token=" + localStorage.getItem("token");
        }
    })
</script>
</body>
</html>
